.login{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    display: grid;
}
.login-frame{
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}
.login-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-title img{
    width: 16px;
    cursor: pointer;
}
.login-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-frame input{
    outline: none;
    border: 1px solid #C9C9C9;
    padding: 10px;
    border-radius: 4px;
}
.login-frame button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #49557e;
    font-size: 15px;
    cursor: pointer;
}
.login-consents{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.login-consents input{
    margin-top: 5px;
}


.login p span{
    color: rgba(73, 85, 126, 0.8);
    font-weight: 500;
    cursor: pointer;
}
